

  <head>
    <title><%= title %></title>
    <!-- <script src="/scripts/bundle.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/table.css" />
    <script src="/scripts/scripts.js"></script>
  </head>

  <body>
      Game Table ID: <%= table_id %> User ID: <%= user_id %>
  </body>

  <div class="leave">
    <form method="post" action="/api/games/<%= table_id %>/leave">
      <button type="submit" value="Leave Game">
        Leave Game
      </button>
    </form>
  </div>

<div class="grid-container">

    <div class="player-2"></div>
    <div class="player-1"></div>
    <div class="player-3"></div>
    <div class="player-4"></div>

    <div class="poker-table">
      <div class="table-cards"></div>
      <div class="game-pot"></div>
      <div class="game-stage"></div>
      <div class="player-turn"></div>
    </div>

    <form class="action-bar" method="post" action="/api/games/<%=table_id%>/move">
      <div class="all-in-btn">
        <button type="submit" id="all-in-btn"> All In</button>
      </div>
      <div class="check-btn">
        <button type="submit" id="check-bt"> check</button>
      </div>
      <div class="fold-btn">
        <button type="submit" id="fold-btn"> Fold</button>
      </div>
      <div class="call-btn">
        <button type="submit" id="call-btn"> Call</button>
      </div>
      <div class="bet-btn">
        <button type="submit" id="check-btn"> Bet</button>
      </div>
  </form>

    <div class="game-log">
    <!-- <div class="game-log-txt"></div> -->
      <!-- <div class="game-log-txt-type"></div> -->
    </div>
    <!-- <div class="game-info"></div> -->
  
</div>

  