<html>
<%- include('partials/head.ejs') %>

<head>
    <title>
        <%= title %>
    </title>
    <script src="/scripts/bundle.js"></script>
</head>

  <body>
    <%- include('partials/authenticated_nav.ejs') %>
        <div class="container">
          <div class="row">
            <div class="col-sm">

              <h2>Available Tables</h2>
              <% available_tables.forEach(table=> { %>

                <form method="post" action="/api/games/<%= table.id %>/join">
                  <button type="submit" value="Join Game">
                    Join Game (<%= table.id %>)
                  </button>
                </form>
                <% }) %>

            </div>

          </div>
        </div>

        <template id="available-game-item">
          <div>
            <li>
              <a href="#">Join <span>42</span></a>
            </li>
          </div>
        </template>
  </body>

</html>